@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Geologica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 76px;
    padding-bottom: 76px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media all and (min-width: 576px) {
    .container {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media all and (min-width: 996px) {
    .container {
        width: 960px;
    }
}

@media all and (min-width: 1240px) {
    .container {
        width: 1076px;
    }
}

.navbar {
    width: 100%;
    background: steelblue;
    top: 0;
    left: 0;
    position: fixed;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar a.active {
    background-color: #396a93;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}

.navbar>.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid gainsboro;
}

table tr th,
table thead tr th,
table tr td,
table tbody tr td {
    padding: 12px 18px;
    vertical-align: top;
}

table thead tr th,
table tr th {
    font-weight: 600;
}

table thead,
table tr:first-child {
    background-color: #f5f5f5;
    border: 1px solid gainsboro;
}

table tr th,
table tr td {
    border: 1px solid gainsboro;
}

table.table-disable-head tr {
    background: none;
    border: 1px solid gainsboro;
}

table.table-borderless,
table.table-borderless tr {
    border: 0 !important;
}

hr {
    border: 0;
    border-top: 1px solid gainsboro;
    height: 1px;
}

header {
    margin-bottom: 24px;
}

input:not([type='submit']):not([type='reset']) {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
    font-family: 'Geologica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:not([type='submit']):not([type='reset']):focus {
    border: 1px solid steelblue;
}

button,
.button,
a.button,
input[type="submit"],
input[type="reset"] {
    background-color: steelblue;
    border: 0;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: 'Geologica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
}

form .form-group {
    display: block;
}

form .form-group label {
    display: block;
    margin-bottom: 8px;
}

form .form-group:not(:last-child) {
    margin-bottom: 16px;
}

.button-warning {
    background-color: orange !important;
}

.button-danger {
    background-color: crimson !important;
}