html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "Geologica";
    src: url("./Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Geologica", sans-serif;
    line-height: 1.5;
    color: #333;
}

body {
    padding-top: 64px;
    padding-bottom: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

table {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table thead tr th,
table tr th {
    background-color: #f5f5f5;
    border-bottom: 3px solid #e6e6e6;
}

table tbody tr td,
table tr td {
    border-bottom: 1px solid #e6e6e6;
}

table thead tr th,
table tbody tr td,
table tr th,
table tr td {
    padding: 12px 16px;
    vertical-align: top;
}

table.undefault thead tr th,
table.undefault thead tr td,
table.undefault tr th,
table.undefault tr td {
    background-color: transparent;
}

table.undefault thead tr th,
table.undefault tr th {
    border-bottom: 1px solid #e6e6e6;
}

table.bordered thead tr th,
table.bordered thead tr td,
table.bordered tr th,
table.bordered tr td {
    border: 1px solid #e6e6e6;
}

input {
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 8px 10px;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Ubuntu';
}

input:focus {
    border: 1px solid steelblue;
}

button {
    background-color: steelblue;
    border: 1px solid steelblue;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    color: #edf3f8;
    padding: 8px 16px;
}

button:hover {
    cursor: pointer;
}

label.error {
    margin-top: 4px;
    color: red;
    font-size: 14px;
    font-style: italic;
}

hr {
    border: 1px solid #e6e6e6;
    height: 1px;
}

/* container */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* navbar */

.navbar {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: steelblue;
    border-bottom: 8px solid #396a93;
}

.navbar::after {
    clear: both;
    display: table;
    content: '';
}

.navbar .navbar-brand {
    color: #edf3f8;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.navbar .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .navbar-links li a {
    color: #edf3f8;
    text-decoration: none;
    display: inline-block;
    padding: 16px 16px;
    font-weight: 550;
}

.navbar .navbar-links li a.active {
    background-color: #396a93;
    font-weight: 700;
}

.navbar .navbar-links li a:hover {
    background-color: #396a93;
}